@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #111;
  --text: white;
  --bgSoft: #2d2b42;
  --btn:#3673fd;
}

body {
  background-color: var(--bg);
  color:  var(--text)
}
